body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg,#245d78,#da7474)
    
  }
.calculator {
    background:linear-gradient(180deg,#245d78,#da7474);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 4px 4px 4px  rgb(64, 57, 57);
    border: solid 5px rgb(255, 255, 255);
  }

.calculator input{
    font-size: 10px;
    outline: 0;
    border-radius: 5px;
    position: relative;
    margin-right: 20px;
    padding: 7px 10px;
    border:0;
    width: max-content;
}
.calculator button{
    background-color: rgb(238, 238, 221);
    border:0;
outline: 0;
padding: 10px 20px;
border-radius: 5px;
font-weight: 500;
cursor: pointer;
margin-left: 25%;

}

#result
{
color: white;
}
#result span{
    color: yellow;
}